/* Reset default margin and padding */
body, h1, h2, h3, h4, p, ul, li {
    margin: 0;
    padding: 0;
}

body,html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.experience-heading, .experience-title {
    color: #484848;
}

.experience-heading {
    font-size: 1.4rem;
    padding: 15px 0px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    margin-bottom: 20px;
}

.lrg-text {
    font-size: 1.4rem;
}

/* Style the main content */
main {
    display: flex;
    flex-direction: row;
}

.w30 {
    width: 30%;
    min-width: 250px;
    background-color: #171A21;
    color: white;
}

.w70 {
    width: 70%;
    min-width: 500px;
}

.ltr-spc {
    letter-spacing: 5px;
}

.left-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

.right-experience { 
    display: flex;
    flex-direction: column;
    padding: 0% 10%;
    padding-top: 25px;
}

.abt-name {
    font-size: 1.8rem;
    color: #DADFF7;
}


.job-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.job-title {
    color:rgb(45, 45, 45)
}

.tc-center {
    text-align: center;
}

.date-range {
    color: rgb(130, 130, 130);
    margin-top: 3px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(130, 130, 130);;
}

blockquote {
    border-left: 3px solid #728f65;
    padding-left: 15px;
    color: #72836b;
}

.mb-10 {
    margin-bottom: 10px;
}

.hero-portrait {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color: #ddd;
    margin-bottom: 20px;
    object-fit: cover;
    overflow: hidden;
    margin-top: 20px;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.pl-5 {
    padding-left: 5px;
}

.p10 {
    padding: 10px
}

.job-bg {
    background-color: #f5f5f5;
}

.emp {
    font-size: 1.2rem;
}

button {
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    width: 125px;
    padding: 15px;
    background: #94a090;
    border: 1px solid gray;
    color: white;
    font-size: 1rem;
    font-weight: 100;
}

button:hover {
    background: #788275;
}

button:disabled {
    cursor: not-allowed;
}

.fa-brands {
    font-size: 3rem;
    color: #2B59C3;
    padding: 8px;
}

.p-lr-20 {
    padding: 0px 20px;
}

.pt-20 {
    padding-top: 20px;
}

.d-flex {
    display: flex;
}

.project-info {
    margin-left: 10px;
}

.display-none {
    display: none;
}

.mw-300 {
    max-width: 300px;
    height: auto;
}

