/* Reset default margin and padding */
body,
h1,
h2,
h3,
h4,
p,
ul,
li {
    margin: 0;
    padding: 0;
    font-weight: 100;
}

body,
html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.experience-heading,
.experience-title {
    color: #484848;
    font-weight: 100;
}

.experience-heading {
    font-size: 1.4rem;
    padding: 15px 0px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    margin-bottom: 20px;
}

.lrg-text {
    font-size: 1.4rem;
}

.lrg-text-sub {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

/* Style the main content */
main {
    display: flex;
    flex-direction: row;
}

.w30 {
    width: 30%;
    min-width: 250px;
    background-color: #171A21;
    color: white;
    padding: 25px;
}

.w70 {
    width: 70%;
    min-width: 500px;
    background-color: #ffffff
}


.ltr-spc {
    letter-spacing: 5px;
}

.left-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    font-weight: 100;
}

.right-experience {
    display: flex;
    flex-direction: column;
    padding: 0% 10%;
    padding-top: 25px;
}

.abt-name {
    font-size: 1.8rem;
    color: #DADFF7;
    font-weight: 100;
}

.uk-dev {
    font-size: 1rem;
    color: #DADFF7;
    font-weight: 100;
}


.job-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.job-title {
    color: rgb(45, 45, 45)
}

.tc-center {
    text-align: center;
}

.date-range {
    color: rgb(130, 130, 130);
    margin-top: 3px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(130, 130, 130);
}

blockquote {
    border-left: 3px solid #728f65;
    padding-left: 15px;
    color: #72836b;
}

.mb-10 {
    margin-bottom: 10px;
}

.hero-portrait {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color: #ddd;
    margin-bottom: 20px;
    object-fit: cover;
    overflow: hidden;
    margin-top: 20px;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.pl-5 {
    padding-left: 5px;
}

.p10 {
    padding: 10px
}

.job-bg {
    background-color: white;
}

.emp {
    font-size: 1.2rem;
}

.project-button {
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    width: 125px;
    padding: 15px;
    background: #94a090;
    border: 1px solid gray;
    color: white;
    font-size: 1rem;
    font-weight: 100;
}

.project-button:hover {
    background: #788275;
}

.project-button:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.project-button:disabled {
    cursor: not-allowed;
}

.fa-brands {
    font-size: 3rem;
    color: #94a090;
    padding: 8px;
}

.p-lr-20 {
    padding: 0px 20px;
}

.pt-20 {
    padding-top: 20px;
}

.d-flex {
    display: flex;
}

.project-info {
    margin-left: 10px;
}

.display-none {
    display: none;
}

.screenshot-max-w {
    max-width: 100%;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.left-sub-section {
    font-weight: 100;
    font-size: 1.2rem;
}

.split-content {
    padding-bottom: 20px;
    border-bottom: 1px solid #747474;
}

#twitch-project img {
    max-width: 100%;
    height: auto;
}

.max-screenshot-sec-width {
    max-width: 30%;
}

.screenshot-max-w:hover {
    transform: scale(2);
}

.top-split {
    border-top: 1px solid rgb(130, 130, 130);
    margin-top: 20px;
}

.left-sub-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* DARK MODE */

nav {
    padding:35px 15px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.dark-bg {
    background-color: #2a2a2a;
}

.dark-contrast-bg {
    background-color: #181616;
}

.light-text {
    color: whitesmoke;
}

.quote-text {
    color: #b4cda9;
}

.fa-moon {
    color: white;
}

.moon-knight {
    color: #a5a5a5;
}

@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-width: 768px) and (min-resolution: 192dpi),
only screen and (max-width: 900px) {

    /* styles for devices with a screen width of 768px or higher and a DPR of 2 or higher or desktop with 900px resolution */
    .job-block .d-flex {
        flex-direction: column-reverse;
    }

    .right-experience {
        padding: 3%;
    }

    .screenshots {
        text-align: center;
    }

    .max-screenshot-sec-width {
        max-width: 100%
    }

    .screenshot-max-w:hover {
        transform: none;
    }

    .left-exp {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .right-experience {
        padding: 3%;
    }
}